@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-account-->
<div class="account">
    <div class="container">
        <div class="account-bottom">
            <div class="col-md-3"></div>
            <div class="col-md-6 account-left">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <form>
                        <div class="account-top heading">
							<h3>Forgot password</h3>
                        </div>
                        <div class="text-success">
                            @ViewBag.Message
                        </div>

                        <div class="address">
							<span>Enter your email address</span>
                            @Html.TextBox("EmailID")
                        </div>
                        <div class="address">
							<a class="" href="/dang-nhap">Log in</a>
                            <input type="submit" value="Confirm"/>
                        </div>
                    </form>
                }
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
<!--end-account-->