@model IEnumerable<Incerrance.Model.DAL.Insurrance>
@if ((int)ViewBag.Count > 0)
{
	foreach (var item in Model)
	{
		var url = "/insurrance/" + item.MetaTitle + "/" + item.Id;
		<div class="col-md-6 product-left" style="margin-top: 20px;">
			<div class="p-one simpleCart_shelfItem" style="height:410px;">
				<a href="@url">
					<img src="@item.ImagesInsurrance" width="300" height="300" alt="" />
					@*<div class="mask">
							<span>Xem chi tiết</span>
						</div>*@
				</a>
				<h4>@item.Name</h4>
			</div>
		</div>
	}
}
