@model Incerrance.Model.DAL.UserGroup

@{
    Layout = null;
}
<div class="modal fade" id="MyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
				<h4 class="modal-title">Detail UserGroup</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                </table>
            </div>
            <!-- /.modal-body -->
            <div class="modal-footer">
                <div class="form-actions no-color text-center">
                    <a href="/quan-tri/nhom-nguoi-dung/cap-nhat?id=@Model.Id" class="btn btn-sm btn-group-sm btn-primary"><i class="far fa-edit"></i>Update</a>
                    <button type="button" class="btn btn-sm btn-secondary" style=" border: 0.5px solid #a8a9ad;" data-dismiss="modal">Cancer</button>
                </div>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
