@model IEnumerable<Incerrance.Model.DAL.Product>
@if ((int)ViewBag.Count > 0)
{
    foreach (var item in Model)
    {
        var url = "/chi-tiet-san-pham/" + item.MetaTitle + "/" + item.Id;
        <div class="col-md-3 product-left">
            <div class="p-one simpleCart_shelfItem" style="height:410px;">
                <a href="@url">
                    <img src="@item.UrlImage" width="223" height="232" alt="" />
                    @*<div class="mask">
						<span>See details</span>
                    </div>*@
                </a>
                <h4>@item.Name</h4>
            </div>
        </div>
    }
}
