@{
    var session = (Incerrance.Common.UserLogin)Session[Incerrance.Common.CommonConstants.USER_SESSION];
}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/quan-tri/trang-chu">
		<i class="fas fa-shoe-prints fa-2x"></i>
		<div class="sidebar-brand-text mx-3">Insurrance Vehicle Administartor</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="/quan-tri/trang-chu">
			<i class="fas fa-home"></i>
			<span>Dashboard</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">
		General Management
	</div>

	<!-- Nav Item - Pages Collapse Menu -->
	@if (session.GroupId == "ADMIN")
	{
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
				<i class="fas fa-fw fa-cog"></i>
				<span>User interface</span>
			</a>
			<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/quan-tri/menu">Menu</a>
					<a class="collapse-item" href="/quan-tri/slide">Slide</a>
					<a class="collapse-item" href="/quan-tri/thong-tin-cua-hang">Website information</a>
					<a class="collapse-item" href="/quan-tri/footer">Footer</a>
				</div>
			</div>
		</li>
	}

	<!--Order, Order Detail-->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapsePages">
			<i class="fab fa-jedi-order"></i>
			<span>Insurance vehicle registration management</span>
		</a>
		<div id="collapseOrder" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/Admin/Registration_Insurance">Insurance vehicle application form</a>
			</div>
		</div>
	</li>

	<!--Order, Order Detail-->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder1" aria-expanded="true" aria-controls="collapsePages">
			<i class="fab fa-jedi-order"></i>
			<span>Claim insurances vehicle management</span>
		</a>
		<div id="collapseOrder1" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/Admin/ClaimInsurances">Claim insurances vehicle</a>
			</div>
		</div>
	</li>


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">
		System management
	</div>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#product" aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-pen-square"></i>
			<span>Insurance & Vehicle management</span>
		</a>
		<div id="product" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/Admin/Insurrances">Insurance</a>
				<a class="collapse-item" href="/Admin/Vehicles">Vehicle</a>
				<a class="collapse-item" href="/Admin/VehicleTypes">Vehicle Category</a>
			</div>
		</div>
	</li>
	<!-- Nav Item - Utilities Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-pen-square"></i>
			<span>Managing articles</span>
		</a>
		<div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="/quan-tri/tin-tuc">News</a>
				<a class="collapse-item" href="/quan-tri/loai-tin-tuc">News group</a>
				<a class="collapse-item" href="/quan-tri/gioi-thieu-cua-hang">Company introduction</a>
			</div>
		</div>
	</li>
	<!-- Nav Item - Pages Collapse Menu -->
	@if (session.GroupId == "ADMIN")
	{
		<li class="nav-item">
			<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
				<i class="fas fa-users"></i>
				<span>User management</span>
			</a>
			<div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/quan-tri/nhom-nguoi-dung">User groups</a>
					<a class="collapse-item" href="/quan-tri/tai-khoan-nguoi-dung">User account</a>
					<a class="collapse-item" href="/quan-tri/quan-ly-phan-quyen">Decentralized management</a>
					<a class="collapse-item" href="/quan-tri/phan-quyen-nguoi-dung">User decentralization</a>
				</div>
			</div>
		</li>
	}

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
<!-- End of Sidebar -->