@model IEnumerable<Incerrance.Model.DAL.Insurrance>
@{
	ViewBag.Title = "Detail Vehicle";
	Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class="content">
	<div class="content_bottom">
		<div class="heading">
			<h3>List Incerrance Vehicle</h3>
		</div>
		<div class="clear"></div>
	</div>
	<div class="section group">
		@foreach (var item in Model)
		{
			<div class="grid_1_of_4 images_1_of_4">
				<a href="/Homes/DetailIncerranceVehicle?Id=@item.Id"><img src="@item.Vehicle.ImageVehicle" alt="" height="200px" /></a>
				<h2>@item.Name </h2>
				<div class="price-details">
					<div class="price-number">
						<p><span class="rupees">@item.Price VND</span></p>
					</div>
					<div class="add-cart">
						<h4><a href="/Homes/DetailVehicle?Id=@item.Id">See Detail</a></h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		}

	</div>
</div>