<!DOCTYPE HTML>
<head>
	<title>Insurrance</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="~/Content/Clients/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/Content/Clients/css/slider.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="~/Content/Clients/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="~/Content/Clients/js/move-top.js"></script>
	<script type="text/javascript" src="~/Content/Clients/js/easing.js"></script>
	<script type="text/javascript" src="~/Content/Clients/js/startstop-slider.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			@RenderPage("_TopHeader.cshtml")
			<div class="header_top">
				<div class="logo">
					<label style="font-size:40px" >INCERRACE VEHICLE</label>
				</div>
				@if (TempData["AlertMessage"] != null)
				{
	<div class="container" style="right: 10px; top: 135px; position: fixed; z-index: 100;">
		<div id="AlertBox" class="text-center alert @TempData["AlertType"] hide" style="float:right;">
			@TempData["AlertMessage"]
		</div>
	</div>}
				<div class="clear"></div>
			</div>
			@{Html.RenderAction("MainMenu", "Homes");}
			@{Html.RenderAction("LeftMenu", "Homes");}
		</div>
		<div class="main">
			@RenderBody()
		</div>
	</div>
	@{Html.RenderAction("Footer", "Homes");}
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
	<script>
		$('#AlertBox').removeClass('hide');
		$('#AlertBox').delay(3000).slideUp(500);
	</script>
</body>
</html>

