@{
	ViewBag.Title = "Cancellation of insurance application";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single_grid text-center">
	<h1>The application has been canceled</h1>
	<p>Successfully cancel your order from Ngan Luong. Please <a href="/">click here</a> to go home</p>
	<div class="clearfix">
	</div>
</div>
